# dependencies
node_modules/

# environment variables
.env
.env.local
.env.*.local

# production builds
/build
/dist
/.next

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# system/IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
